USE [master]
GO
/****** Object:  Database [STATUS]    Script Date: 12/05/2023 11:35:24 ******/
CREATE DATABASE [STATUS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'STATUS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\STATUS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'STATUS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\STATUS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [STATUS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [STATUS]
GO
/****** Object:  Table [dbo].[DAILY]    Script Date: 12/05/2023 11:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAILY](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NULL,
	[Score] [int] NULL,
	[Words] [varchar](777) NULL,
	[Helped] [bit] NULL,
 CONSTRAINT [PK_DAILY] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DAILY] ON 

INSERT [dbo].[DAILY] ([Id], [Fecha], [Score], [Words], [Helped]) VALUES (2, CAST(N'2023-04-18' AS Date), 7, N'Nice', 1)
INSERT [dbo].[DAILY] ([Id], [Fecha], [Score], [Words], [Helped]) VALUES (3, CAST(N'2023-04-19' AS Date), 6, N'chill', 0)
INSERT [dbo].[DAILY] ([Id], [Fecha], [Score], [Words], [Helped]) VALUES (6, CAST(N'2023-04-07' AS Date), 5, N'haha', 0)
SET IDENTITY_INSERT [dbo].[DAILY] OFF
GO
USE [master]
GO
